@{
    Layout = null;
}
@model Site.Models.MenuView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <form action="/home/sava" method="post">
            @if (Model.Id > 0)
            {
                <text>修改</text>
            }
            else
            {
                <text>新增</text>
            } 
            <p>
                @Html.HiddenFor(m=>m.Id)
                @Html.TextBoxFor(m=>m.Name,new{ data="自定义属性" ,@class="自定义Css样式"} )
            </p>         
            <button type="submit">保存</button>
        </form>
    </div>
</body>
</html>
